html, body {
    margin: 0;
}

body {
    color: white;
    background-color: black;
    background: url('/stars-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

body a {
    color: white;
    text-decoration: underline;
}

main {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 75vh;
}

main .content {
    max-width: 600px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

